__pycache__
.env
/apps/artistas/__pycache__/*
/apps/artistas/migrations/*
/apps/visitantes/__pycache__/*
/apps/visitantes/migrations/*
/apps/compradores/__pycache__/*
/apps/compradores/migrations/*
/apps/lojaMuseu/__pycache__/*
/apps/lojaMuseu/migrations/*
/apps/obraDeArte/__pycache__/*
/apps/obraDeArte/migrations/*
/apps/exposicoes/__pycache__/*
/apps/exposicoes/migrations/*